<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="icon" href="img/faviator.ico" />
    <style type="text/css">
      body {
        margin: 0;
        background-color: #cccccc;
      }
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #cccccc;
        padding-bottom: 60px;
      }

      .main {
        background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        border-spacing: 0;
        font-family: sans-serif;
        color: #171a1b;
      }

      .title {
        display: block;
        text-align: center;
        white-space: nowrap;
        font-size: 40px;
        max-width: 600px;
        white-space: pre-wrap;
      }

      .middleparagraph {
        height: 80px;
        width: 160px;
        text-align: center;
        vertical-align: middle;
        padding: 15px;
        font-size: 20px;
        line-height: 20pt;
      }

      .redbutton {
        height: 80px;
        width: 160px;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
        background-color: #ffffff;
      }

      .redbuttonback {
        background-color: #ffffff;
        height: 80px;
        width: 160px;
        text-align: center;
        vertical-align: middle;
        padding: 5px;
      }

      .buttonred {
        display: inline-block;
        background-color: #af143e;
        color: white;
        padding: 12px 24px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 85%;
        max-width: auto;
      }

      .two-columns {
        text-align: center;
        font-size: 0;
      }

      .two-columns .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
      }

      .two-columns.last {
        padding: 0px 0;
      }

      .two-columns .padding {
        padding: 20px;
      }

      .two-columns .content {
        font-size: 15px;
        line-height: 20px;
        text-align: left;
      }

      .button {
        display: inline-block;
        width: 85%;
        background-color: #ffffff;
        color: #af143e;
        text-decoration: none;
        padding: 15px 20px;
        border-style: solid;
        border-color: #af143e 5px;
        border-width: 1px;
        border-radius: 2px;
        font-weight: bold;
        text-align: center;
        width: 90%;
        max-width: auto;
      }

      .titlepicks {
        display: block;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        padding-left: 27px;
        background-color: #ffffff;
        color: #333333;
      }
    </style>
  </head>
  <body>
    <center class="wrapper">
      <table class="main" width="100%">
        <!-- LOGO SECTION -->

        <tr>
          <td style="padding: 14px 0 4px" ;>
            <table width="100%">
              <tr>
                <td class="two-columns">
                  <table class="column">
                    <tr>
                      <td style="padding: 0 62px 10px">
                        <a href="https://www.viator.com/" target="_blank"
                          ><img
                            src="https://cdn.tripadvisor.com/img2/email/viator_logo_v2.png"
                            alt="Modern"
                            width="180"
                            title="Modern Logo"
                        /></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <h1 class="title">Explore the unexpected in Barcelona</h1>
          </td>
        </tr>

        <!-- BANNER IMAGE -->

        <tr>
          <td>
            <a href="https://www.viator.com/Barcelona/d562-ttd" target="_blank"
              ><img
                src="https://cdn.tripadvisor.com/img2/email/vr/aps5-2_barcelona.jpg"
                alt=""
                width="600"
                style="max-width: 100%"
            /></a>
          </td>
        </tr>

        <!-- middle Paragraph -->

        <tr>
          <td class="middleparagraph">
            <p>
              Every destination has its must-sees, but we're here to help you
              see a side of Barcelona most travelers miss. Venture off the
              beaten path and escampe the crowds with our hand-picked list of
              experiences that reveal its true caracter.
            </p>
          </td>
        </tr>

        <!-- Red Button section -->

        <tr class="redbutton" style="background-color: #ffffff" ;>
          <td class="redbuttonback">
            <a
              href="https://www.viator.com/searchResults/all?text=Barcelona+hidden+gems&destId=562"
              class="buttonred"
              >Discover hidden gems</a
            >
          </td>
        </tr>

        <!-- TWO COLUMN SECTION -->

        <tr>
            <td style="background-color: #ffffff; color: #171a1b">
                <table width="100%">
                <p class="titlepicks">Top Pick Based on your bookings</p>
                {% assign product_code = "insert product code here" %}
                <tr {{ product_code }}>
                    <td class="two-columns last">
                    <table class="column">
                        <tr>
                        <td class="padding">
                            <table class="content">
                            <tr>
                                <td>
                                <p style="padding-bottom: 25px; padding-left: 10px; margin: 0; width: 100%;">
                                    {{ product_name }}
                                </p>
                                <div style="padding-left: 10px; padding-bottom: 25px">
                                    <img src="{{ product_rating }}" alt="" width="100">{{ product_review_count }}
                                </div>
                                <div style="padding-left: 10px">
                                    <a href="{{ product_link }}" target="_blank" class="button">Learn More</a>
                                </div>
                                </td>
                            </tr>
                            </table>
                        </td>
                        </tr>
                    </table>
                    <table class="column">
                        <tr>
                        <td class="padding">
                            <table class="content">
                            <tr>
                                <td>
                                <a href="{{ product_link }}" target="_blank">
                                    <img src="{{ product_photo_url }}" alt="" width="260px" style="max-width: 260px" />
                                </a>
                                </td>
                            </tr>
                            </table>
                        </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                </table>
            </td>
        </tr>

            </table>          
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
